<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Hello</h1>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    
    socket.on('connect', () => {
      socket.emit('new_player', { name: 'duyphan' }, (data) => {
        console.log(data);
      });
      socket.emit('init_board', board => {
        console.log(board);
      });
      socket.emit('player_ready', () => {
        socket.emit('click', { 
        num: '19',
        open: true,
        choosen: true,
        row: 0,
        col: 1
      });

      socket.emit('click', { 
        num: '28',
        open: true,
        choosen: true,
        row: 0,
        col: 2
      });

      socket.emit('click', { 
        num: '46',
        open: true,
        choosen: true,
        row: 0,
        col: 4
      });

      socket.emit('click', { 
        num: '68',
        open: true,
        choosen: true,
        row: 0,
        col: 6
      });

      socket.emit('click', { 
        num: '75',
        open: true,
        choosen: true,
        row: 0,
        col: 7
      });
      });
      
      
    });

    socket.on('new_number', (number) => {
      console.log(number);
    })

    socket.on('gameplay_update', (data) => {
      console.log(data);
    });

  </script>
</body>

</html>